{% include base_path %}

<style>
  .site-footer-custom {
    color: #4b4b4b;
  }

  .site-footer-custom__title {
    margin: 0 0 0.9rem;
    color: #2f2f2f;
    font-size: 1.35rem;
    font-weight: 700;
  }

  .site-footer-custom__links {
    display: grid;
    gap: 0.7rem;
    margin-bottom: 1.35rem;
  }

  .site-footer-custom__link {
    display: inline-flex;
    align-items: center;
    gap: 0.7rem;
    color: #1f5f92;
    font-size: 1.15rem;
    text-decoration: none;
  }

  .site-footer-custom__link:hover {
    color: #0f4168;
  }

  .site-footer-custom__logo {
    width: 2rem;
    max-height: 2rem;
    object-fit: contain;
  }

  .site-footer-custom__meta {
    color: #4f4f4f;
    font-size: 1rem;
    line-height: 1.7;
  }
</style>

<div class="site-footer-custom">
  <p class="site-footer-custom__title">Related Links:</p>
  <div class="site-footer-custom__links">
    <a class="site-footer-custom__link" href="https://huajieshao.github.io/index.html#Home">
      <img class="site-footer-custom__logo" src="{{ base_path }}/images/education/wm.png" alt="William & Mary">
      <span>Huajie Shao @ William &amp; Mary</span>
    </a>
  </div>
  <div class="site-footer-custom__meta">&copy; {{ site.time | date: '%Y' }} Yuchen Wang. All rights reserved. Last updated: {{ site.time | date: '%B, %Y' }}.</div>
</div>
