{% include base_path %}

<div class="site-footer-custom">
  <p class="site-footer-custom__title">Related Links:</p>
  <div class="site-footer-custom__links">
    <a class="site-footer-custom__link" href="https://huajieshao.github.io/index.html#Home">
      <img class="site-footer-custom__logo" src="{{ base_path }}/images/education/wm.png" alt="William & Mary">
      <span>Huajie Shao @ William &amp; Mary</span>
    </a>
  </div>
  <div class="site-footer-custom__meta">&copy; {{ site.time | date: '%Y' }} Yuchen Wang. All rights reserved. Last updated: {{ site.time | date: '%B, %Y' }}.</div>
</div>
